
/**
 * Variables and Bootstrap overrides
 */

// Colors
//...............

$color-red				: #e51a2e;
$color-dark-grey		: #333333;
$color-black			: #000000;
$color-light-grey		: #bbbbbb;

$primary-color:          $color-red;
$second-color:           $color-dark-grey;
$third-color:            $color-black;
$fourth-color:           $color-light-grey;

$body-bg:                #fff;
$text-color:             $second-color;

// Fonts
//...............
$primary-font:           "Open Sans", Helvetica, Arial, sans-serif;
$title-font: 			 'Source Sans Pro', sans-serif;
$secondary-font:         "Arvo", Georgia, Times, serif;
$font-size:              14px;

//fonts-type
$font_thin:'';
$font_light: '300';
$font_regular:'400';
$font_smbold:'600';
$font_bold:'700';

