<div id="main" role="main">
	<div class="container">
		<section class="endorsed-products">
			<ul class="products">

				<li class="product">
					<a href="#" data-modal-id="popup"> 
						<article class="product-display">
								<div class="product-media">
									<img src="https://s2.bukalapak.com/img/1/7/5/9/2/2/5/1/7/s-178-178/j1_mini2.jpg" alt="">
								</div>
								<div class="product-description">
									<h3>
										Samsung Galaxy J1 Mini J105 - Gold - Pembelian Maksimal 1 Unit Per Akun
									</h3>
									<div class="product-price">
										<span itemprop="price">
											<span class="currency positive">Rp</span>
											<span class="amount positive">1.019.000</span>
										</span>
									</div>
								</div>
						</article>
					</a>
				</li>

				<li class="product">
					<a href="#" data-modal-id="popup"> 
						<article class="product-display">
							<div class="product-media">
									<img src="https://s4.bukalapak.com/img/2/1/2/6/7/3/8/4/4/s-178-178/BLACKBERRY%209670%20STYLE%20CDMA%20-%20ORIGINAL.jpg" alt="">
							</div>
							<div class="product-description">
								<h3>
									Microphone Mic Wireless Shure Ur 7 D ( Handheld )
								</h3>
								<div class="product__category">Microphone</div>
								<div class="product-price">
									<span itemprop="price">
										<span class="currency positive">Rp</span>
										<span class="amount positive">1.400.000</span>
									</span>
								</div>
							</div>
						</article>
					</a>
				</li>

				<li class="product">
					<a href="#" data-modal-id="popup"> 
						<article class="product-display">
								<div class="product-media">
									<img src="https://s3.bukalapak.com/img/2/0/0/5/9/9/2/9/3/s-178-178/image.jpg" alt="">
								</div>
								<div class="product-description">
									<h3>
										Redmi 2 Prime Ram 2gb / Mmc 16gb White (With Bi & Playstore)
									</h3>
									<div class="product__category">Microphone</div>
									<div class="product-price">
										<span itemprop="price">
											<span class="currency positive">Rp</span>
											<span class="amount positive">1.400.000</span>
										</span>
									</div>
								</div>
						</article>
					</a>
				</li>

				<li class="product">
					<a href="#" data-modal-id="popup"> 
						<article class="product-display">
								<div class="product-media">
									<img class="js-lazy-load"src="https://s4.bukalapak.com/img/2/0/3/4/9/9/7/7/4/s-178-178/%20Powerbank%20Delcell%20HYPER%2017000MAH%20.jpg" alt="">
								</div>
								<div class="product-description">
									<h3>
										Samsung Caramel Gt-e1272 - White
									</h3>
									<div class="product-price">
										<span itemprop="price">
											<span class="currency positive">Rp</span>
											<span class="amount positive">1.400.000</span>
										</span>
									</div>
								</div>
						</article>
					</a>
				</li>
			</ul>
		</section><!--- //endorsed-products -->
	</div>
	<div id="popup" class="modal-box">
		  <div class="modal-body">
		  		<div class="modal-prodetail tab_content" id="tab1">
		  			 <figure>
		  			 	<img src="https://s2.bukalapak.com/img/2/1/2/6/7/2/7/6/7/large/Samsung%20Galaxy%20J3.jpg">
		  			 </figure>
		  			 <article class="desc">
		  			 	<h2>Samsung Galaxy J3</h2>
		  			 	<span class="mdl-price">Rp. 2.215.000</span>
		  			 	<div class="product-stock">
		  			 		Tersedia
		  			 			<strong class="text-green">&gt; 10 stok</strong>
		  			 		barang
		  			 	</div> <!-- //product-stock -->
		  			 	<div class="seller"></div>
		  			 	<div class="content-text">
		  			 		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quae in controversiam veniunt, de iis, si placet, disseramus. </p>
		  			 	</div>
		  			 	<div class="buy-action">
		  			 		<button class="btn-red">Beli</button>
		  			 	</div>
		  			 </article>
		  		</div>

		  		<div class="modal-prodetail tab_content" id="tab2">
		  			 <figure>
		  			 	<img src="https://s4.bukalapak.com/img/2/1/2/6/7/3/8/4/4/large/BLACKBERRY%209670%20STYLE%20CDMA%20-%20ORIGINAL.jpg" alt="">
		  			 </figure>
		  			 <article class="desc">
		  			 	<h2>Blackberry 9670 Style Cdma - Original</h2>
		  			 	<span class="mdl-price">Rp. 299.000</span>
		  			 	<div class="product-stock">
		  			 		Tersedia
		  			 			<strong class="text-green">&gt; 10 stok</strong>
		  			 		barang
		  			 	</div> <!-- //product-stock -->
		  			 	<div class="seller"></div>
		  			 	<div class="content-text">
		  			 		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quae in controversiam veniunt, de iis, si placet, disseramus. </p>
		  			 	</div>
		  			 	<div class="buy-action">
		  			 		<button class="btn-red">Beli</button>
		  			 	</div>
		  			 </article>
		  		</div>

		  		<div class="modal-prodetail tab_content" id="tab3">
		  			 <figure>
		  			 	<img src="https://s0.bukalapak.com/img/2/1/3/7/9/2/8/3/5/large/iphone%205S%2032%20GOLD%20%28NEW%20GARANSI%201%20TAHUN%29.jpg" alt="">
		  			 </figure>
		  			 <article class="desc">
		  			 	<h2>Iphone 5s 32 Gold (New Garansi 1 Tahun)</h2>
		  			 	<span class="mdl-price">Rp. 3.599.000</span>
		  			 	<div class="product-stock">
		  			 		Tersedia
		  			 			<strong class="text-green">&gt; 10 stok</strong>
		  			 		barang
		  			 	</div> <!-- //product-stock -->
		  			 	<div class="seller"></div>
		  			 	<div class="content-text">
		  			 		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quae in controversiam veniunt, de iis, si placet, disseramus. </p>
		  			 	</div>
		  			 	<div class="buy-action">
		  			 		<button class="btn-red">Beli</button>
		  			 	</div>
		  			 </article>
		  		</div>

		  		<div class="modal-prodetail tab_content" id="tab4">
		  			 <figure>
		  			 	<img src="https://s4.bukalapak.com/img/2/0/3/4/9/9/7/7/4/large/%20Powerbank%20Delcell%20HYPER%2017000MAH%20.jpg" alt="">
		  			 </figure>
		  			 <article class="desc">
		  			 	<h2>Samsung Galaxy J3</h2>
		  			 	<span class="mdl-price">Rp. 2.215.000</span>
		  			 	<div class="product-stock">
		  			 		Tersedia
		  			 			<strong class="text-green">&gt; 10 stok</strong>
		  			 		barang
		  			 	</div> <!-- //product-stock -->
		  			 	<div class="seller"></div>
		  			 	<div class="content-text">
		  			 		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quae in controversiam veniunt, de iis, si placet, disseramus. </p>
		  			 	</div>
		  			 	<div class="buy-action">
		  			 		<button class="btn-red">Beli</button>
		  			 	</div>
		  			 </article>
		  		</div>

		  		
		  		<div class="modal-prodGallery">
		  			<ul id="tabs">
		  				<li class="active">
		  					<a href="#tab1">
			  					<figure>
			  						<img src="https://s2.bukalapak.com/img/2/1/2/6/7/2/7/6/7/s-178-178/Samsung%20Galaxy%20J3.jpg" alt="">
			  					</figure>
		  					</a>
		  				</li>
		  				<li>
		  					<a href="#tab2">
			  					<figure>
			  						<img src="https://s4.bukalapak.com/img/2/1/2/6/7/3/8/4/4/s-178-178/BLACKBERRY%209670%20STYLE%20CDMA%20-%20ORIGINAL.jpg" alt="">
			  					</figure>
		  					</a>
		  				</li>
		  				<li>
		  					<a href="#tab3">
			  					<figure>
			  						<img src="https://s3.bukalapak.com/img/2/0/0/5/9/9/2/9/3/s-178-178/image.jpg" alt="">
			  					</figure>
		  					</a>
		  				</li>
		  				<li>
		  					<a href="#tab4">
			  					<figure>
			  						<img src="https://s4.bukalapak.com/img/2/0/3/4/9/9/7/7/4/s-178-178/%20Powerbank%20Delcell%20HYPER%2017000MAH%20.jpg" alt="">
			  					</figure>
		  					</a>
		  				</li>
		  			</ul>
		  		</div>
		  </div>
		  <footer> <a href="#" class="btn js-modal-close">Close</a> </footer>
	</div>
</div> <!-- //MAIN -->
  