.product{
	@include make-sm-column(4);
	@include make-md-column(3);
    padding-top: 50px;
    padding-bottom: 50px;

    a{
        color: black;
        &:hover{
            text-decoration: none;
        }
    }
}

.product-media{
	background: #F3F3F3;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 180px;
    margin-bottom: 12px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    vertical-align: middle;
    border: 1px solid #EEEEEE;
    border-radius: 2px;

    img {
	    position: absolute;
	    top: 50%;
	    max-width: 100%;
	    max-height: 100%;
	    margin: 0 auto;
	    -webkit-transition: all .2s ease-in-out;
	    transition: all .2s ease-in-out;
	    -webkit-transform: translateY(-50%);
	    transform: translateY(-50%);
	    border-radius: 2px;
	    margin: auto;
	    left: 0;
	    right: 0
	}	

}
.product-description-to-extend, .product__name, .product__category, .product-price, .product-installment, .product-grid-display .product-delivery, .product-grid-display .product-installment, .product-list-display .product__name, .product-list-display .product__category, .product-list-display .product-price{
	font-size: 11px;
}

.product-discount-badge {
    background-color: #CB0051;
    font-size: 11px;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    top: -10px;
    right: -10px;
    width: 30px;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    border: solid 1px #CB0051;
    border-radius: 100%;
}

.product__name {
    font-weight: normal;
    z-index: 100;
    overflow: hidden;
    height: 39px;
    margin-bottom: -5px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    text-transform: capitalize;
    color: #333;
}

.product-description{
    h3{
        font-weight: bold;
        line-height: 1.6em;
         color: #333;
        font-weight: normal;
        font-size: 11px;
    }
}

.product-price{
        color: #A30046;
        font-weight: bold;
}

/** MODAL
===================================*/
.modal-box {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 98%;
  background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  header, .modal-header {
    padding: 1.25em 1.5em;
    border-bottom: 1px solid #ddd;
  }
  header {
    h3, h4 {
      margin: 0;
    }
  }
  .modal-header {
    h3, h4 {
      margin: 0;
    }
  }
  .modal-body {
    //padding: 2em 1.5em;
    padding: 0;
  }
  footer, .modal-footer {
    padding: 0.5em 1em;
    background: rgba(0, 0, 0, 0.02);
    text-align: right;
  }
}

@media (min-width: 32em) {
  .modal-box {
    width: 70%;
  }
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity = 0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3) !important;
}

a.close {
  line-height: 1;
  font-size: 1.5em;
  position: absolute;
  top: 5%;
  right: 2%;
  text-decoration: none;
  color: #bbb;
  &:hover {
    color: #222;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
  }
}

a.js-modal-close{
    color: #d1225b;
}

/** MODAL CONTENT
===================================*/
.modal-prodetail{
    overflow: hidden;
     padding: 2em 1.5em;
    figure{
        width: 300px;
        overflow: hidden;
        margin: 0 auto;
        text-align: center;
        @media screen and (min-width: 48em){
            float: left;
            margin: 0;
            margin-right: 25px;
        }
    }
    .desc{
        overflow: hidden;
        padding-top: 30px;
        h2{
            margin: 0;
            font-size: 17px;
            font-weight: 700;
            line-height: 1.35;
            letter-spacing: -.015em;
            text-transform: capitalize;
            word-wrap: break-word;
            color: #484848;
        }

        .mdl-price{
            display: block;
            font-size: 33px;
            color: #A30046;
            font-weight: 600;
            line-height: 1.3em;
            margin-bottom: 13px;
        }

        .product-stock {
            color: #555;
            font-size: 11px;
            margin-bottom: 5px;
        }

        .content-text{
            font-size: 0.9em;
            line-height: 1.6em;
        }
    }
}

.text-green{
    color: #390;
}

.modal-prodGallery{
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    background-color: #f2f2f2;
    border-top: 1px solid #ddd;
    ul{
        li{
            @include inline-block();
            max-width: 100px;
            vertical-align: top;
            margin: 0 8px;
        }
    }
}

.buy-action{
    margin-top: 25px;
}
.btn-red{
    background: none;
    border: none;
        background-color: #d1225b;
    border: 1px solid #a91948;
    color: #fff;
    @include inline-block();
    color: white;
    text-align: center;
    @include border-radius(2px);
    font-size: 16px;
    padding: 10px 20px;
    @include min-width(110px);
}

/** TABS WRAPPER
===================================*/
#tabs {
  li {
    
    a {
      border-bottom: 3px solid transparent;
      @include inline-block();
      padding-bottom: 15px;
      &:hover {
        border-color: #d1225b;
      }
    }
    &.active a {
      border-color: #d1225b;
    }
  }
}

#tabs_content_container {
  border: 1px solid #ccc;
  border-top: none;
  padding: 10px;
  width: 400px;
}

.tab_content {
  display: none;
}